html{
    height: auto;
    width: auto;
    background-color: white;
    font-family:'Darker Grotesque', sans-serif ;
    
}

header{
    
    font-family: 'Darker Grotesque', sans-serif;
    width: 100%;
    background-color: #85CDF5;
    border: none;    
    padding: 0%;
    font-weight: 700;
}

li{
    display: inline-flexbox;
    font-size: 33px;
    text-decoration: none;
    color: black;
}

.centralizar{
    width: 100%;
    margin: 0 auto;
}

.inicial{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

a:link{
    color: #333333;
    text-decoration: none;
}

/*a:nth-child(3):hover{

}*/

.parte1{
    background-image: url("assets/image.png"); /*ajustar para modificar automaticamente*/
    background-repeat: no-repeat;
    height: 750px;
    background-size: cover;
    background-position: center;
}

.texto1{
    text-align: center;
    color: white;
    font-size: 96px;
    font-family: 'Darker Grotesque', sans-serif;
    position: relative;
    left: 40%; top: 40%;
    transform: translate(-40%,-40%);
    font-weight: 700;
}

.texto2{
    padding: 30%;
    text-align: center;
    color: white;
    font-size: 30px;
    position: relative;
    left: 60%; top: 60%;
    transform: translate(-60%,-60%);
    line-height: 83%;
    overflow: auto;
    font-weight: 300;
}

.parte2{
    background-color: #2C5680;

}

.texto3{
    text-align: center;
    color: #DEB959;
    font-size: 48px;
    font-weight: 700;
}

.texto4{
    padding: 5%;
    text-align: center;
    color: white;
    font-size: 24px;
    overflow: auto;
    font-weight: 400;
}

.parte3{
    background-color: #333333;
}

.texto5{
    font-size: 34px;
    text-align: center;
    color: white;
    font-weight: 700;
}

.texto6{
    font-size: 26px;
    text-align: center;
    align-items: center;
    color: white;
    font-weight: 400;
}

.imagens{ /* falta alinhar aqui*/
    display: inline-flex;
    margin: 5%;
    padding: 2rem;
    background-color: white;
    border-radius: 50%;
    align-items: center;
    position:relative;
    left: 50%; top: 75%;
    transform: translate(-50%,-05%);
    
}

.blocos{
    margin: 2%;
    max-width: 22.5%;
    align-items: center;
    
}

.conjunto{
    width: 100%;
    align-items: center;
    display: inline-flex; /*pq n consigo usar flexbox ¬¬ */
}

.parte4{
    background-color: whitesmoke;
}

.blocos2{
    display: flex;
    padding-top: 5%;
    padding-left: 15%;
    padding-right: 15%;
}

.blocos3{
    display: flex;
}

.texto7{
    font-weight: 700;
    padding: 0.5rem;
    font-size: 36px;
    margin-top: 1.5rem;
}

.texto8{
    font-weight: 300;
    padding: 0.5rem;
    font-size: 20px;
}

.texto9{
    font-weight: 400;
    text-align: left;
    padding: 0.5rem;
    font-size: 25px;
}

.bloco5{
    display: flex;
    padding-left: 15%;
    padding-right: 15%;
}

.texto10{
    margin-top: 1.5rem;
    font-weight: 700;
    padding: 0.5rem;
    font-size: 36px;
    text-align: end;
}

.texto11{
    font-weight: 300;
    padding: 0.5rem;
    font-size: 20px;
    text-align: end;
}

.texto12{
    font-weight: 400;
    text-align: end;
    padding: 0.5rem;
    font-size: 25px;
}

.fotos{
    padding: 2.5rem;
    filter: drop-shadow(-25px -25px 0px #2C5680) ;
    left: 10% top 10%;
}

.fotos:nth-child(2){
    filter: drop-shadow(25px 25px 0px #2C5680) ;
}

footer{
    background-color: #333333;

}

h4{
    color: white;
    padding: 1rem;
}

.blocofinal{
    display: flex;
    align-items: center;
    
}


.final{
    background-color: #DEB959;
    padding: 0.5rem;
    max-width: 30%;
    margin-left: 5%;
}

.material-icons{
    padding: 1rem;
    color: white;

}

.bloquinho{
    display: flex;
    max-width: 85%;
    margin-left: 5%;

}



h5{
    color: white;
}

.patinha{
    display: flexbox;
    min-width: auto;
    padding-right: 1rem;
}

.sticky{
    position: fixed;
    top: 0;
    width: 100%;
}

.sticky + .corpo{
    padding-top: 100px;
}

.quemsomos{
    display: flex;
    flex-direction: column;
    background-color: white;
    justify-content: center;
    text-align: center;
    /* height: 600px; */
}

.titulo{
    text-align: center;
    font-size: 48px;
    font-weight: 400;
    position: relative;
    /*left: 20%; top: 20%;
    transform: translate(-20%,-60%);*/
}

.explicando{
    text-align: center;
    font-size: 30px;
    font-weight: 400;
    min-width: 25%;
    position: relative;
    /*left: 60%; top: 60%;
    transform: translate(-60%,-60%);*/
    line-height: 83%;

    
}

.lobo{
    display: flex;
    padding-left: 15%;
    padding-right: 15%;
    padding-top: 2rem;
}

.textoadoçao{
    font-size: 60px;
    font-weight: 600;
    padding-top: 3.5rem;
}

.idlobinho{
    color: black;
    font-size: 14px;
    font-weight: 600;
}

.loboselecionado img{
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 50%;
}

.partefinal{
    padding: 1rem 0;
    background-color: #333333;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#arrumarfooter{
    position: absolute;
    bottom:0;
    width: 100%;
}


.adoçaobloco1{
    display: flex;
    padding-left: 15%;
}

.adoçaobloco2{
    padding-left: 15%;
}

label{
    font-family:'Darker Grotesque', sans-serif ;
    font-size: 30px;
    font-weight: 500;
}

input{
    border-style: none;
    border-bottom-style: solid;
    font-family:'Darker Grotesque', sans-serif ;
    font-size: 30px;
    font-weight: 500;
}

.botaoadotar{
    padding-left: 46%;
    border: 1rem;
    margin: 2rem;
}

.botao{
    color: white;
    font-family:'Darker Grotesque', sans-serif ;
    font-weight: 600;
    background: #2C5680;
    padding: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.botao1{
    color: white;
    font-family:'Darker Grotesque', sans-serif ;
    font-weight: 600;
    background: #DEB959;
    padding: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    
}

.adicionarlobo{
    padding: 2rem;
    display: block;
    padding-right: 20%;
    padding-left: 20%;
    
}

.descriçao{
	display: grid;
	text-align: center;
	align-items: center;
	padding-left: 20%;
	padding-right: 20%;
    margin: 1rem;
}

.criarborda{
    border-width: medium;
    border-style: solid;
    border-color: black;
    
}

.adicionarlobobloco1{
    display: flex;
    padding-left: 10%;
    margin: 1rem;
}

.adicionarlobobloco2{
    padding-left: 10%;
    margin: 1rem;
}

.adiçao{
border-style: solid;
background-color: #E6E6E6;
}

.entradas{
    display: flex;
    padding-left: 10%;
    justify-content: space-between;

}

.idade{
    width: 87%;
    text-align: right;
}

.entradas2{
    display: flex;
    padding-left: 10%;
}

.adicionartexto{
    background-color: #E6E6E6;
    margin: 1rem;
}